{% extends "layout.html" %}

{% block title %}
    New Post
{% endblock %}

{% block content %}

    <style>
        main .form-control {
            width: 100%;
        }
    </style>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-3">{{ legend }}</legend>
                <div class="form-group mb-2">
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid", placeholder="Title") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg", placeholder="Title") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid", placeholder="Content") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg", placeholder="Content") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-2">
                {{ form.submit(class="btn btn-secondary btn-lg") }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}