{% extends "layout.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-3">Sign In</legend>
                <div class="form-group mb-2">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                    {% endif %}
                </div>
                <div class="form-check mb-3">
                    {{ form.remember(class="form-check-input float-none me-3") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group mb-2">
                {{ form.submit(class="btn btn-secondary btn-lg") }}
            </div>
            <!-- <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small> -->
        </form>
    </div>
    <div class="pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}

